body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

.Hoja {
    background-color: white;
    width: 8.6in;
    height: 11in;
    box-shadow: 10px 10px 50px;
    background-image: url("imagenes2/fondoSanJose.png");
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}

.IMG-Encabezado{
    width: 95%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
}

.Impresion {
    border: 1px solid black;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    margin-right: 20px;
}

.DatosPaciente th,
.DatosPaciente td {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.table{
    width: 100%;
}

.DatosPaciente {
    font-size: 12px;
    margin-left: 20px;
    padding: 20px;
    clear: both;
}

.Analisis {
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: gray;
}

.float {
    float: right;
}

.IMG-Firma {
    width: 20%;
    margin-left: 570px;
}

.Firma {
    float: right;
    padding: 5px;
    text-align: center;
    clear: both;
}

.IMG-PiePagina {
    width: 100%;
}



