main{
    color:D8AA96 F7B1AB 807182 333;
}

.info{
    background-color: pink;
    color: gray;
}

@media screen and (max-width: 1500px) {
    main{
        display: grid;
        grid-template-areas: 
        "h"
        "s"
        "a"
        "f";
    }
}

main {
    display: grid;
    grid-template-areas: 
    "h h"
    "a s"
    "f f";
    }

    header {
        grid-area: h;
        }
        
        section#Sesion {
        grid-area: s;
        }
        
        section#Perro{
        grid-area: a;
        }

        section#Botones{
            grid-area: f;
        }