body{
    background-color: #d8aa96;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d8aa96;
    display: grid;
}

.info{
    background-color: pink;
    color: gray;
}

.Formulario{
    background-color: #F7B1AB;
}

Button{
    background-color: #333;
    color: white;
    border-radius: 5px;
}

img{
    background-color: #807182;
    height: 400px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.botones{
    background-color: white;
}

header{
    display: block;
}

section{
    display: block;
}

aside{
    display: block;
}

footer{
    display: block;
}

@media screen and (max-width: 1500px) {
    main{
        display: grid;
        grid-template-areas: 
        "h"
        "s"
        "a"
        "f";
    }
}

@media screen and (max-width: 767px) {
    .perro{
        display: block;
        img{
            width: 100%;
        }
    }
}

main {
    display: grid;
    grid-template-areas: 
    "h h h"
    "a s s"
    "f f f";
    }

    header {
        grid-area: h;
        }
        
        section#Sesion {
        grid-area: s;
        }
        
        section#Perro{
        grid-area: a;
        }

        section#Botones{
            grid-area: f;
        }