main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d8aa96;
}

.info{
    background-color: pink;
    color: gray;
}

Button{
    background-color: black;
    color: white;
    border-radius: 5px;
}

@media screen and (max-width: 1500px) {
    main{
        display: grid;
        grid-template-areas: 
        "h"
        "s"
        "a"
        "f";
    }
}

main {
    display: grid;
    grid-template-areas: 
    "h h"
    "a s"
    "f f";
    }

    header {
        grid-area: h;
        }
        
        section#Sesion {
        grid-area: s;
        }
        
        section#Perro{
        grid-area: a;
        }

        section#Botones{
            grid-area: f;
        }